
body {
    background-color: #333;
    color: white;
}

header{
    width: 100%;
    text-align: center;
    color: aqua;
}

.navbar {
    width: 100%;
    padding: 10px;
    background-color: #444;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
}

.navbar a:hover {
    background-color: #555;
    border-radius: 4px;
}